
<div class="wrapper">  

  <br>
  <p class="h3 text-center">{{options.title}}</p>

  

</div>

<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lọc</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" ng-repeat="item in options.category" ng-click="filterBy(item.StatusName)">{{item.StatusName}}<br></a>
    <a class="dropdown-item" href="#" ng-click="filterBy('all')">Tất cả<br></a>
  </div>
</div>

<div class="table">

  <div class="row header green">
    <div class="cell" ng-repeat="item in options.header">
      <strong>{{item}}</strong>
    </div>
  </div>

  <div class="row" ng-repeat="record in options.records">

    <div class="cell">
      <input type="checkbox" name="chon[]" ng-click="checkboxStatus($index)">
    </div>

    <div class="cell" ng-repeat="item in record.info">
      {{item}}
    </div>

    <div class="cell">
      <a href="{{record.linkID}}">Xem </a>
    </div>

    <div class="cell">
      {{options.category[record.status - 1].StatusName}}
    </div>

  </div>

</div>
