<div class="wrapper">  

  <br>
  <p class="h3 text-center">{{options.title}}</p>
 

</div>

<a href="admin-add-product.php" class="btn btn-success">Thêm sản phẩm</a>
<button class="btn btn-danger" ng-click="deleteItems()">Xóa sản phẩm</button>
<button class="btn btn-success" ng-click="activeItems()">Hiện</button>
<button class="btn btn-warning" ng-click="hideItems()">Ẩn</button>

<!-- <button class="btn btn-success" ng-click="filterBy()">Filter</button> -->
<!-- <button class="btn btn-success" ng-click="testBy()">Test</button> -->

<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Lọc
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" ng-repeat="item in options.category" ng-click="filterBy(item.CategoryName)">{{item.CategoryName}}<br></a>
    <a class="dropdown-item" href="#" ng-click="filterBy('all')">Tất cả<br></a>
  </div>
</div>

<div class="table">

  <div class="row header">
    <div class="cell" ng-repeat="item in options.header">
      <strong>{{item}}</strong>
    </div>
  </div>

  <div class="row" ng-repeat="record in options.records">

    <div class="cell">
      <input type="checkbox" name="chon[]" ng-click="checkboxStatus($index)">
    </div>

    <div class="cell" ng-repeat="item in record.info">
      {{item}}
    </div>

    <div class="cell">
      <a href="admin-edit-product.php?ProductID={{record.linkID}}">Sửa</a>
      <a href="">-</a>
      <a href="product-detail.php?ProductID={{record.linkID}}">Xem</a>
    </div>

    <div class="cell" ng-switch="record.hide">

      <div ng-switch-when="1">
        <i class="fa fa-ban" style="color:red; font-size: 15px">
        </i>          
      </div>

      <div ng-switch-when="0">
        <i class="fa fa-check" style="color:green; font-size: 15px">
        </i>          
      </div>

    </div>

  </div>


</div>
